<footer class="footer" id="footer" role="contentinfo">
  <div>
    <ol class="o-list-bare">
      <li>
        <a href="https://twitter.com/forestgdnwales" title="Link to Forest Garden Wales Twitter account">Twitter</a>
      </li>
      <li>
        <a href="mailto:helo@forestgarden.wales" title="Email link to Forest ">Email</a>
      </li>
      <li>
        <a href="{{ site.url }}/rss.xml" title="Link to RSS news feed">RSS</a>
      </li>
    </ol>
  </div>
  <div>
    <p>
      <small>
        <i>Designed and built by
          <a href="https://www.growdigital.org/">Grow Digital</a> with
          <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by
          <a href="https://www.netlify.com/">Netlify</a>
        </i>
      </small>
    </p>
    <p>
      <small>
        Content copyright &copy; Forest Garden Wales, a trading name of Grow Digital Ltd, company reg no 6935830
        <br> Licensed under
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</a>
        <br> Web site licensed under
        <a href="https://choosealicense.com/licenses/mit/">MIT</a> &amp;
        <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
      </small>
    </p>
  </div>
</footer>