
html {
  font-size: 16px;
  line-height: 1.4;
}
body {
  color: #444;
  font-family: sans-serif;
}

.remark-slide-content li,
.remark-slide-content p {
  font-size: 1.8rem;
}

h1 {
  line-height: 1.1;
}

h2, h3 {
  line-height: 1.2;
}

h1, h2, h3, h4 {
  font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h4 {
  font-size: 1.4rem;
}

blockquote {
  font-style: italic;
}

.remark-slide-content {
  background-color: #f6fce6;
}

.remark-slide-content {
  padding: 1em 3em 1em 3em;
}

.remark-code-line {
  font-size: 1.4rem;
}

.remark-slide-scaler {
  box-shadow: 0 0 0 transparent;
}
