/* ==========================================================================
   Wrapper
   ========================================================================== */

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.wrapper__pad {
  padding: 0 8% 0 5%;
  margin: 1rem 0;
}
