<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js post">
  {{> header}}
  <div class="wrapper">
    <div class="post">
      <h1>{{ title }}</h1>
      <time>{{ date }}</time>
      {{{ contents }}}
    </div>
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>